@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-dots {
    background-image: radial-gradient(rgba(255, 255, 255, 0.4) 2px, transparent 2px);
    background-size: 30px 30px;
    animation: moveDots 20s linear infinite;
  }

  @keyframes moveDots {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 30px 30px;
    }
  }
}
