@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 10, 10, 40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 2, 6, 23;
    --background-end-rgb: 10, 10, 40;
  }
}

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes animate-jump-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate-once {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.animate-once {
  animation: animate-once 1s ease-out;
}

.animate-ease-in-out {
  animation: animate-jump-in 1s ease-in-out;
}


.animate-jump-in {
  animation: animate-jump-in 1s ease-out;
}

.animate-once {
  animation: animate-once 1s ease-out;
}

.animate-ease-out {
  animation: animate-once 1s ease-out;
}

.animate-pulse {
  animation: pulse 4s linear;
}

.node {
  background-color: #000000;
}

.line {
  background-color: #000000;
}

.border-animation {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.border-animation::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 3px solid transparent;
  border-radius: 0rem;
  background: rgba(0, 0, 255, 0.1); /* Add a semi-transparent background */
  animation: borderAnimate 5s ease-in-out infinite; /* Adjusted timing and easing */
  z-index: -1;
}

@keyframes borderAnimate {
  0% {
    border-color: #4237d9;
  }
  33% {
    border-color: #d34457;
  }
  66% {
    border-color: #37d9a3;
  }
  100% {
    border-color: #4237d9;
  }
}
